body {
    margin: 0;
    font-family: 'Inter', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }
  
  * {
    font-family:'Inter', system-ui;
  }

  .content {
    .guests {
      margin: 0px;
      background: #F4F8FB;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
      border-radius: 20px;
      margin-left: 80px;
      width: 1440px;
      height: 740px;
    }

    .guestsAddContent {
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin: 20px;
        width: 1400px;
        height: 700px;

        .guestsHeader {
          border-bottom: 1px solid #eaeaea;
          width: 1400px;
          height: 70px;
          padding: 20px;
  
          h3 {
            margin: 0px;
          }
  
          span {
            border-radius: 5px;
            background: #66CDAA;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 14px;
            color:#ffffff;
            cursor: pointer;
          }
  
          span:hover {
            background-color: #72e6bf;
          }
        }

        .guestsAddField {
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .TextField{
            margin-bottom: 20px;
            background-color:#F4F8FB;
          }
        }
        
    }

    .guestsContent {
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin: 20px;
        width: 1400px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .guestsHeader {
          border-bottom: 1px solid #eaeaea;
          width: 1400px;
          height: 70px;
          padding: 20px;
  
          h3 {
            margin: 0px;
          }
  
          span {
            border-radius: 5px;
            background: #66CDAA;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 14px;
            color:#ffffff;
            cursor: pointer;
          }
  
          span:hover {
            background-color: #72e6bf;
          }
        }

        .Container {
          margin: 0px;
          padding-left: 20px;
          padding-right: 20px;
          overflow: hidden;

          .tableHeader {
            background: #F4F8FB;
          }

          .buttonDelete {
            display: flex;
          }
          .css-rqglhn-MuiTable-root {
            border-collapse: separate 
          }

          .css-1owb465 {
            border-collapse: separate 
          }
        }
      }

      .Alert {
        position: absolute;
        bottom: 20px;
        right: 20px;
        animation: 0.5s showAlert;
      }
  }

  @keyframes showAlert {
    from {
      transform: translateX(100px)
    }

    to {
      transform: translateX(0px);
    }
  }