body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

* {
  font-family:'Inter', system-ui;
}

header {
  border-bottom: 1px solid #eaeaea;
  width: auto;
  height: auto;

  li {
    display: flex;
    align-items: center;
  }

  button {
    background: #F4F8FB;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-right: 100px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color:#bec9e6;
    transition: 0.3s;
  }

  h3, p {
    margin: 0;
  }
}

.content {
  
  h4 {
    margin: 0;
  }

  img {
    margin-right: 15px;
  }

  li {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
  }

  li:hover {
    background-color:#F4F8FB;
    transition: 0.3s;
  }
  
  .nav_item {
    background-color:#F4F8FB;
  }
  .bottom {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    width: 180px;
  }

  .wrapper {
    background: #F4F8FB;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-left: 80px;
    width: 1440px;
    height: 740px;
  }

  .inWrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 20px;
    width: 1400px;
    height: 700px;
  }

  .home {
    background: #ffffff;
    margin: 20px;
    width: 1400px;
    height: 150px;
  }
}

.login {
  background-color: #F4F8FB;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //настройка поля login
  .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    border: none;
    border-radius: 10px;
    background-color:#F4F8FB;
    padding: 18px;
    font-size: 14px;
    font-family: 'Inter', system-ui;
    width: 302.56px;
    height: 57px;
    padding: 0px;

    .css-104c99h-MuiButtonBase-root-MuiIconButton-root {
      padding: 0px;
      padding-left: 16px;
    }

    &:hover {
      border: none;
    }
  }
}

.settings {
  background-color: #F4F8FB;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}