body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

* {
  font-family:'Inter', system-ui;
}

header {
  border-bottom: 1px solid #eaeaea;
  width: auto;
  height: auto;

  li {
    display: flex;
    align-items: center;
  }

  button {
    background: #F4F8FB;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-right: 100px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color:#bec9e6;
    transition: 0.3s;
  }

  h3, p {
    margin: 0;
  }
}

.content {
  
  h4 {
    margin: 0;
  }

  img {
    margin-right: 15px;
  }

  li {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
  }

  li:hover {
    background-color:#F4F8FB;
    transition: 0.3s;
  }
  
  .nav_item {
    background-color:#F4F8FB;
  }
  .bottom {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    width: 180px;
  }

  .wrapper {
    background: #F4F8FB;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-left: 80px;
    width: 1440px;
    height: 740px;
  }

  .inWrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 20px;
    width: 1400px;
    height: 700px;
  }

  .home {
    background: #ffffff;
    margin: 20px;
    width: 1400px;
    height: 150px;
  }
}

.login {
  background-color: #F4F8FB;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .authorization {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 580px;
  }

  .color-text {
    color: #66CDAA;
  }

  h2 {
    margin: 0px;
  }
  .inputLogin {
    border: none;
    font-size: 14px;
    font-family: 'Inter', system-ui;
    width: 100%;
  }

  .inputPass {
    border: 1px solid #b1b3b1;
    border-radius: 10px;
    background-color:#F4F8FB;

    padding: 18px;
    font-size: 14px;
    width: 100%;
    
    &:hover {
      border-color: black;
    }

    &:focus{
      border: 1px solid;
      outline: 1px solid rgb(25, 118, 210);
      border-color: rgb(25, 118, 210);
    }
  }

  .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    border: none;
    border-radius: 10px;
    background-color:#F4F8FB;
    padding: 18px;
    font-size: 14px;
    font-family: 'Inter', system-ui;
    width: 302.56px;
    height: 57px;
    padding: 0px;

    .css-104c99h-MuiButtonBase-root-MuiIconButton-root {
      padding: 0px;
      padding-left: 16px;
    }

    &:hover {
      border: none;
    }
  }

  .pass-icon {
    position: relative;
    right: -130px;
    top: -40px;
    cursor: pointer;
  }

  .input-checkbox {
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
    margin-top: -15px;
  }

  .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 14px;
    font-family: 'Inter', system-ui;
    opacity: 0.5;
  }

  .button-auto {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    background:#66CDAA;
    padding: 12px;
    width: 302.23px;
    cursor: pointer;

    &:hover {
      background-color:#76f0c7;
      transition: 0.5s;
    }
  }
}


